.overlay {
  width: 100vw;
  height: 100vh;
  background-color: #33373ac5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal {
  display: flex;
  text-align: center;
}

.image {
  width: 800px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
